.button {
  @apply mx-auto text-center bg-slate-400 border rounded-sm w-full mb-2 hover:cursor-pointer first-of-type:mt-2;
}

.active {
  @apply border-gray-600;
}

.content {
  @apply w-full min-h-screen p-2 flex flex-col;
}

.nav {
  @apply flex flex-col justify-between text-lg w-64 px-2 font-mono;
}

body {
  @apply bg-slate-400 select-none cursor-default ;
}

.fake-textarea {
  @apply grow border border-gray-600 bg-white text-black p-1 overflow-auto cursor-text select-text;
}

.setting {
  @apply text-black p-1 rounded-sm m-1 w-64 disabled:text-gray-300 disabled:cursor-not-allowed;
}
